<!-- src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OAuth Client</title>
</head>
<body>
<h1>OAuth2 Client</h1>
<div th:if="${oidcUser == null || oidcUser == ''}">
    <a href="/oauth2/authorization/navid-oidc">Login</a>
</div>
<div th:if="${oidcUser != null && oidcUser != ''}">
    <p>Welcome, <span th:text="${oidcUser.fullName}"></span>!</p>
    <p>Your email is <span th:text="${oidcUser.email}"></span></p>
    <p>Your roles are <span th:text="${T(java.lang.String).join(',', oidcUser.claims['roles'])}"></span></p>
    <p><a href="/admin">Admin Resource</a></p>
    <p><a href="/user">User Resource</a></p>
    <p><a href="/monitoring">Actuator Resource</a></p>
    <p><a href="/me">Me</a></p>
    <form action="https://auth-server.loca.lt/logout" method="get">
        <input type="hidden" name="redirect_uri" value="https://auth-client.loca.lt">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>